$main-color: #0a3a87;
$main-color-closed: #A2A2A2;
$imported-color: #FFCF76;
$mockup-background: rgb(244, 245, 248);
$main-light-color: #cae1f3;
$main-light-color-closed: #AFAFAF;
$not-active-color: rgb(194, 195, 196);
$not-selected-color: rgb(194, 195, 196);
$lightgrey-background: rgb(247, 248, 249);
$link-color: #0275d8;
$z-index-select: 1051; /* hack to avoid clash with material modal */
$font-primary-color: #0275d8;
$font-primary-light-color: #7c9db7;
$color-suggestions: #b9c0c6;
$color-suggestions-future: #F2EB96;
$color-errors: #dd5c60;
$user-color-yellow: #f9bf3b;
$user-color-orange: #d35400;
$inquirer-color: #2abb9b;
$user-color-green: #16a085;
$highlight-background: yellow;
$accent-color: green;
$accent-light-color: lightgreen;
$bootstrap-blue-color-03opacity: #b9d6f2;
$color-reject: red;
$color-accept: #16a085;
$event-color: #CE7DD5;
$color-word: rgb(68, 93, 153);
$color-powerpoint: rgb(181, 77, 49);
$color-pdf: rgb(190, 12, 12);
$team-accent: #119DA4;
$team-base: #C8E4E6;
$team-base-light: #E7F0F0;
